xml/src/main/resources/schemas/CreditCards.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="creditCard" type="creditCard"/>

    <xs:complexType name="creditCard">
        <xs:sequence>
            <xs:element name="expiry-date" type="xs:string" />
            <xs:element name="type" type="xs:string"/>
            <xs:element name="control-number" type="xs:int"/>
        </xs:sequence>
        <xs:attribute name="number" type="xs:string" use="required"/>
    </xs:complexType>
</xs:schema>